#animation{
    height:70vh;
}

#stork{
    width: 11vw;
    margin-top: 50px;
    transform:scaleX(-1);
    display:none;

}

#textOne{
    text-align: center;
}

#textOneDiv{
    width: 12vw;
}

#box{
    width:20vw;
    display:none;
}

#cloth{
    width: 20vw;
}

#textTwoDiv{
    position:absolute;
    top:43vh;
    left:42.5vw;
    width:15vw;
    height:15vw;
    /* vertical-align: middle; */
    display:table;
}

#textTwo{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

#giftcard,#boxback,#boxfront,#boxlid{
    width:25vw;
}

#textTwoDiv{
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}

#textTwoText{
    
    right:0;
    bottom:0;
    width:25vw;
    position:absolute;
    text-align: center;
}